.login-signup {
  padding: 80px 0px;
  background-color: rgb(246, 246, 246);
}
.login-signup-card {
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
  background-color: #fff;
  padding: 40px;
  border-radius: 5px;
}
.login-signup-card .nav-tabs {
  justify-content: center;
  border-bottom: none;
}
.login-signup-card .nav-link {
  border: none;
  color: #222222;
}
.login-signup-card .nav-link.active {
  color: #1ac167;
}
.ic-login-singup-logo {
  text-align: center;
  margin-bottom: 40px;
}
.ic-login-singup-logo img {
  width: 250px;
  margin: auto;
}
.login-signup input {
  display: block;
  width: 100%;
  background-color: #f5f5f5;
  height: 50px;
  line-height: 50px;
  padding: 0px 20px;
  border: none;
  margin-bottom: 20px;
  border-radius: 5px;
}
.login-signup input:focus {
  outline: none;
}

.login-signup .login-signup-btn {
  background-color: #1ac167;
  color: #fff;
}

.or-login-txt {
  text-align: center;
  border-top: 1px solid #f2f2f2;
  padding-top: 10px;
}
.google-signup-btn {
  height: 45px;
  line-height: 45px;
  border: 1px solid #1ac167;
  border-radius: 5px;
  text-align: center;
  cursor: pointer;
}
.google-signup-btn img {
  width: 25px;
  margin-right: 10px;
}

/**Responsive**/

@media only screen and (max-width: 767.98px) {
  .login-signup {
    padding: 60px 0px;
  }
}

@media only screen and (max-width: 575.98px) {
  .login-signup-card {
    padding: 30px;
  }
}
